PLUGIN_ID=growth-genius
ENABLED_PLUGINS=growth-genius

OPENAI_API_KEY=
GEMINI_API_KEY=
STABILITY_API_KEY=

DISCORD_BOT_KEY=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_FELI_ID=395579195528445962

OPENAI_ROUTER_MODEL=gpt-5.4-mini

# 1. Your Long-Lived Page Access Token (from Meta Developer Portal)
IG_ACCESS_TOKEN=
IG_ACCOUNT_ID=
FB_PAGE_ID=
FB_PAGE_ACCESS_TOKEN=

DO_SPACES_PERSONAL_ACCESS_TOKEN=
DO_SPACES_ENDPOINT=
DO_SPACES_BUCKET=
DO_CONTEXT=
S3_PUBLIC_BASE_URL=https://sp-openclaw.nyc3.digitaloceanspaces.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=nyc3
AWS_ENDPOINT_URL=https://nyc3.digitaloceanspaces.com



# MongoDb  
mongo_db_user=root
mongo_db_password=
mongo_db_host=mongodb://ocs-mac-mini.tail97a69.ts.net:27017 
mongo_db_tls=false

# mongo_db_user=root
# mongo_db_password=pass
# mongo_db_host=mongodb://localhost:27017
# mongo_db_replica=mongoreplicaset
# mongo_db_tls=true
# mongosslca=./../../../../../resources/ssl-mongo/intermediate/certs/ca-chain.cert.pem
# mongosslkey=./../../../../../resources/ssl-mongo/intermediate/certs/microservices.cert.key.pem
# mongosslkeypassword=fff000


DEBUG_FREETALK_OPENAI_INPUTS=true

# Google Analytics app command
GOOGLE_ANALYTICS_PROPERTY_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=